.signup-container {
  display: flex;
  flex: 1 0 auto;
  padding: 20px;
}

.inner-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
}

.signup-form {
  display: flex;
  flex-direction: column;
  min-width: 20vw;
  max-width: 60vw;
  min-height: 30vh;
  max-height: 80vh;
  margin-bottom: 20%;
}