.login-container {
  flex: 1 0 auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.inner-container {
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin-bottom: 3%;
}

.error-message {
  color: red;
}

@media only screen and (max-width: 768px) {
  .login-form {
    width: 70vw;
  }
}
