.page {
  font-size: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #fffcfe;
  /* grid-template-columns: 12% auto 12%;
  grid-template-rows: 2vh auto; */
}

.content-pane {
  grid-column-start: 2;
  grid-row-start: 2;
}

.header-box {
  background-image: url('https://lrcimages.s3.us-east-2.amazonaws.com/coffeebeans.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  width: 100%;
}

.card-head {
  display: flex;
  margin: 3%;
  align-items: center;
  flex-wrap: wrap;
}

.header-left-content {
  width: 100%;
}

.top-email-form {
  margin-left: 12vh;
  margin-right: 12vh;
}

.subheader {
  width: 100%;
  background-color: #9bc5ea;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
}

.paragraph-1 {
  margin-top: 5%;
}

h2 {
  text-align: center;
}

.list-items {
  display: flex;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

.col-list {
  display: grid;
  grid-auto-columns: 50% 50%;
}

.col-1 {
  grid-column-start: 1;
  margin: 0;
}

.col-2 {
  grid-column-start: 2;
  margin: 0;
}

.how-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.how-it-works {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  background-color: #ffed60;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.how-cards {
  background-color: #ffed60;
  display: flex;
  align-items: center;
  /* flex-grow: 1; */
  width: 40vh;
  height: 40vh;
  margin: 2%;
}

.paragraph-2 {
  margin-top: 10%;
}

.copy-l2 {
  margin-top: 10%;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.review-lg {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}

.review-cards {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin-top: 5%;
  margin-bottom: 5%;
}

.bottom-btn {
  margin-bottom: 5%;
}
