.page {
  flex-grow: 1;
  overflow: hidden;
  font-size: 1.5rem;
}

.content {
  display: grid;
  grid-template-columns: 12% auto 12%;
  grid-template-rows: 2vh auto;
}

.content-pane {
  grid-column-start: 2;
  grid-row-start: 2;
}

.header-box {
  background-image: url("../../images/coffeebeans.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.card-head {
  margin: 3%;
}

.subheader {
  display: flex;
  flex-flow: wrap;
}

.card-copy {
  margin: 2%;
}

.paragraph-1 {
  margin-top: 10%;
}

h2 {
  text-align: center;
}


/* media query these for small screens, make one big list */
.col-list {
  display: grid;
  grid-auto-columns: 50% 50%;
}

.col-1 {
  grid-column-start: 1;
  margin: 0;
}

.col-2 {
  grid-column-start: 2;
  margin: 0;
}

.how-it-works {
  margin-top: 10%;
}

.how-cards {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.paragraph-2 {
  margin-top: 10%;
}

.copy-l2 {
  margin-top: 10%;
}

.button {
  display: flex;
  justify-content: center;
}

.review-lg {
  margin-top: 10%;
}

.review-cards {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
