.content {
  grid-template-columns: 1vw auto 1vw;
  grid-template-rows: 2vh auto
}

.header-box {
  background-image: url("../../images/coffeebeans.jpg");
  display: flex;
  justify-content: center;
}

.subheader {
  display: flex;
  justify-content: center;
}