.page {
  font-size: 1.5rem;
}

.content {
  display: grid;
  grid-template-columns: 12% auto 12%;
  grid-template-rows: 2vh auto;
}

.content-pane {
  grid-column-start: 2;
  grid-row-start: 2;
}

.header-box {
  background-image: url("../../images/coffeebeans.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  width: 100%;
}

.card-head {
  display: flex;
  margin: 3%;
  align-items: center;
  flex-wrap: wrap;
}

.header-left-content {
  width: 100%;
}

.top-email-form {
  margin-left: 12vh;
  margin-right: 12vh;
}

.subheader {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin-top: 5%;
}

.card-copy {
  margin: 2%;
}

.paragraph-1 {
  margin-top: 5%;
}

h2 {
  text-align: center;
}

.col-list {
  display: grid;
  grid-auto-columns: 50% 50%;
}

.col-1 {
  grid-column-start: 1;
  margin: 0;
}

.col-2 {
  grid-column-start: 2;
  margin: 0;
}

.how-it-works {
  margin-top: 10%;
}

.how-cards {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.paragraph-2 {
  margin-top: 10%;
}

.copy-l2 {
  margin-top: 10%;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.review-lg {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}

.review-cards {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin-top: 5%;
  margin-bottom: 5%;
}

.footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% auto;
  justify-content: center;
  margin: 0px;
  overflow: hidden;
}

.footer-nav {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vh;
}

.footer-col-1 {
  grid-column-start: 1;
  margin-right: 10%;
}

.footer-col-2 {
  grid-column-start: 2;
  margin-right: 10%;
}

.footer-col-3 {
  grid-column-start: 3;
}

.footer-item {
  padding: 8px;
}

.footer-info {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}

.bottom-btn {
  margin-bottom: 5%;
}

@media only screen and (max-width: 768px) {
  .content {
    display: flex;
    padding: 10px;
    justify-content: center;
    font-size: 1rem;
  }

  .top-email-form {
    margin-left: 15%;
  }

  .col-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 640px) {
  .head-left {
    font-size: 1rem;
  }
  .r-lg-card {
    height: 60vh;
  }
  
  .r-card {
    width: 60vw;
  }

  .footer-info {
    font-size: 0.5rem
  }
}