.signup-container {
  display: flex;
  flex: 1 0 auto;
  padding: 20px;
  flex-direction: column;
}

.inner-container {
  display: flex;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin-bottom: 3%;
}

.error-message {
  color: red
}

@media only screen and (max-width: 768px) {
  .signup-form {
    width: 70vw;
  }
}
